ul{
    list-style-type: none;
}
body{
    font-family: "Unbounded", sans-serif;
}
.price{
    width: 100%;
    height: 760px;
    border: 1px solid red;
    background: white;
    display: flex;
}
.price__categories{
    width: 40%;
    height: 80%;
    margin-top: 75px;
    margin-left: 10%;
}
.price__categories-title{
    width: 90%;
    height: 35%;
    margin-left: 5%;
}
.price__categories-title-top{
    font-size: 70px;
    font-weight: 600;
    padding-left: 50px;
    color: #000000;
}
.price__categories-title-bottom{
    font-size: 81px;
    font-weight: 700;
    background: #f46868;
    color: #ffffff;
    transform: rotate(-6deg);
    letter-spacing: 7px;
    padding-left: 80px;
    padding-bottom: 20px;
    margin-top: 10px;
    width: 500px;
}
.price__categories-descriptions{
    width: 90%;
    height: 55%;
    margin-left: 5%; 
    margin-top: 5%;
}
.price__categories-description{
    width: 95%;
    height: 7%;
    margin-top: 6px;
    background: #e2e2e2;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
}
.price__tarifs{
    width: 40%;
    height: 80%;
    margin-top: 75px;
    margin-right: 10%;
    display: flex;
}
.price__tarifs-free{
    width: 30%;
    height: 100%;
    margin-left: 20px;
}
.price__tarifs-free-title{
    width: 100%;
    height: 30%;
    border: 5px solid #acbef0;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.free__title-title{
    width: 70%;
    height: 30%;
    color: #4f7dfc;
    font-size: 28px;
    font-weight: 400;
}
.free__title-price{
    width: 70%;
    height: 30%;
    font-size: 24px;
    font-weight: 600;
}
.free__title-button{
    width: 70%;
    height: 30%;
    font-weight: 700;
    font-size: 19px;
    color: #000000;
    background: #acbef0;
    border-radius: 30px;
    border: none;
}
.price__tarifs-free-description{
    width: 100%;
    height: 68%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price__tarifs-images{
    height: 7%;
    margin-top: 6px;
    background-size: cover;
    border-radius: 50%;
}
.price__tarifs-premium{
    border: 5px solid #f78888;
    width: 30%;
    height: 98%;
    margin-left: 20px;
    border-radius: 15px;
}
.price__tarifs-premium-title{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.premium__title-title{
    width: 70%;
    height: 30%;
    color: #f25a5a;
    font-size: 28px;
    font-weight: 400;
}
.premium__title-button{
    width: 70%;
    height: 30%;
    font-weight: 700;
    font-size: 19px;
    color: #000000;
    background: #f78888;
    border-radius: 30px;
    border: none;
}
.price__tarifs-premium-description{
    width: 100%;
    height: 68%;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.price__tarifs-offline-title{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 5px solid #f3d250;
    border-radius: 15px;
}
.offline__title-title{
    width: 70%;
    height: 30%;
    color: #e6ba0c;
    font-size: 28px;
    font-weight: 400;
}
.offline__title-button{
    width: 70%;
    height: 30%;
    font-weight: 700;
    font-size: 19px;
    color: #000000;
    background: #f3d250;
    border-radius: 30px;
    border: none;
}
.free__title-price2{
    width: 70%;
    height: 30%;
    font-size: 24px;
    font-weight: 600;
}
.free__title-price1{
    width: 70%;
    height: 30%;
    font-size: 24px;
    font-weight: 600;
}
.mobile{
    display: none;
}
@media (max-width: 1024px){
    .price__categories-title{
        width: 70%;
        height: 35%;
        margin-left: 5%;
    }
    .price__categories-title-top{
        font-size: 50px;
        font-weight: 400;
        padding-left: 30px;
        color: #000000;
    }
    .price__categories-title-bottom{
        font-size: 61px;
        font-weight: 500;
        background: #f46868;
        color: #ffffff;
        transform: rotate(-6deg);
        letter-spacing: 5px;
        padding-left: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
        width: 350px;
    }
    .free__title-button{
        width: 80%;
        height: 20%;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
        background: #acbef0;
        border-radius: 13px;
        border: none;
    }
    .premium__title-button{
        width: 80%;
        height: 20%;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
        background: #f78888;
        border-radius: 13px;
        border: none;
    }
    .offline__title-button{
        width: 80%;
        height: 20%;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
        background: #f3d250;
        border-radius: 13px;
        border: none;
    }
    .premium__title-title{
        width: 40%;
        height: 30%;
        color: #f25a5a;
        font-size: 18px;
        font-weight: 500;
        padding-right: 60px;
        padding-top: 10px;
    }
    .price__tarifs-free{
        width: 30%;
        height: 100%;
        margin-left: 10px;
    }
    .price__premium-free{
        width: 30%;
        height: 100%;
        margin-left: 10px;
    }
    .free__title-price1{
        margin: auto;
        margin-right: 25px;
        width: 70%;
        height: 30%;
        font-size: 24px;
        font-weight: 600;
    }
    .offline__title-title{
        width: 40%;
        height: 30%;
        color: #e6ba0c;
        font-size: 18px;
        font-weight: 500;
        padding-right: 40px;
        padding-top: 10px;
    }
    .free__title-price2{
        margin: auto;
        margin-right: 25px;
        width: 70%;
        height: 30%;
        font-size: 24px;
        font-weight: 600;
    }
    .mobile{
        display: none;
    }
    
    
}
@media (max-width: 728px){
    .price__categories-title-bottom{
        font-size: 41px;
        font-weight: 500;
        background: #f46868;
        color: #ffffff;
        transform: rotate(-6deg);
        letter-spacing: 5px;
        padding-left: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
        width: 245px;
    }
    .free__title-title{
        width: 40%;
        height: 20%;
        color: #4f7dfc;
        font-size: 23px;
        font-weight: 400;
        margin-right: 35px;
        margin-bottom: 15px;
    }
    .free__title-button{
        width: 90%;
        height: 20%;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
        background: #acbef0;
        border-radius: 13px;
        border: none;
        padding-left: 7px;
    }
    .premium__title-title{
        width: 30%;
        height: 30%;
        color: #f25a5a;
        font-size: 14px;
        font-weight: 700;
        padding-right: 60px;
        padding-top: 12px;
    }
    .free__title-price1{
        margin: auto;
        margin-right: 48px;
        width: 40%;
        height: 30%;
        font-size: 18px;
        font-weight: 600;
    }
    .premium__title-button{
        width: 90%;
        height: 20%;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
        background: #f78888;
        border-radius: 13px;
        border: none;
    }
    .offline__title-title{
        width: 30%;
        height: 30%;
        color: #e6ba0c;
        font-size: 16px;
        font-weight: 700;
        padding-right: 60px;
        padding-top: 10px;
    }
    .free__title-price2{
        margin: auto;
        margin-right: 46px;
        width: 40%;
        height: 30%;
        font-size: 18px;
        font-weight: 600;
    }
    .offline__title-button{
        width: 90%;
        height: 20%;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
        background: #f3d250;
        border-radius: 13px;
        border: none;
    }
    .mobile{
        display: none;
    }
}
@media (max-width: 700px){
    .mobile{
        display: block;
        height: 1000px;
        margin: auto;
    }
    .price{
        display: none;
    }
    .mobile__categories-title-top {
        font-size: 60px;
        font-weight: 400;
        padding-left: 20px;
        color: #000000;
        margin-left: 65px;
    }
    .mobile__categories-title-bottom {
        width: 65%;
            font-size: 52px;
            font-weight: 400;
            background: #f46868;
            color: #ffffff;
            transform: rotate(-6deg);
            letter-spacing: 5px;
            padding-left: 10px;
            padding-bottom: 20px;
            margin-top: 30px;
            margin-left: 80px;
    }
    .mobile__tarifs{
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }
    .mobile__free-title{
        width: 90%;
        height: 200px;
        border: 5px solid #acbef0;
        border-radius: 15px;
        margin-left: 5%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .mobile__free-title-title{
        width: 70%;
        height: 30%;
        color: #4f7dfc;
        font-size: 40px;
        font-weight: 400;
    }
    .mobile__free-title-price {
        width: 70%;
        height: 30%;
        font-size: 24px;
        font-weight: 600;
    }
    .mobile__free-title-button {
        width: 70%;
        height: 30%;
        font-weight: 700;
        font-size: 19px;
        color: #000000;
        background: #acbef0;
        border-radius: 30px;
        border: none;
    }
    .mobile__free-types {
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile__free-type {
        width: 90%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-radius: 30px;
        background: #acbef0;
    }
    .free__type-text {
        font-size: 15px;
        margin-left: 7px;
    }
    .free__type-img {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }
    .mobile__premium{
        border: 5px solid #f78888;
        border-radius: 15px;
        margin-left: 5%;
        margin-top: 40px;
        width: 90%;
        height: 640px;
    }
    .mobile__premium-title {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .mobile__premium-title-title {
        width: 70%;
        height: 30%;
        color: #f25a5a;
        font-size: 40px;
        font-weight: 400;
    }
    .mobile__premium-title-price {
        width: 70%;
        height: 30%;
        font-size: 24px;
        font-weight: 600;
    }
    .mobile__premium-title-button {
        width: 70%;
        height: 30%;
        font-weight: 700;
        font-size: 19px;
        color: #000000;
        background: #f78888;
        border-radius: 30px;
        border: none;
    }
    .mobile__premium-types {
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile__premium-type {
        width: 90%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-radius: 30px;
        background: #f78888;
    }
    .premium__type-text {
        font-size: 15px;
        margin-left: 7px;
    }
    .premium__type-img {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }
    .mobile__offline-title {
        width: 100%;
        height: 200px;
        border: 5px solid #f3d250;
        border-radius: 15px;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .mobile__offline-title-title {
        width: 70%;
        height: 30%;
        color: #e6ba0c;
        font-size: 40px;
        font-weight: 400;
    }
    .mobile__offline-title-price {
        width: 70%;
        height: 30%;
        font-size: 24px;
        font-weight: 600;
    }
    .mobile__offline-title-button {
        width: 70%;
        height: 30%;
        font-weight: 700;
        font-size: 19px;
        color: #000000;
        background: #f3d250;
        border-radius: 30px;
        border: none;
    }
    .mobile__offline-types {
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile__offline-type {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-radius: 30px;
        background: #f3d250;
    }
    .offline__type-text {
        font-size: 15px;
        margin-left: 7px;
    }
    .offline__type-img {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }
}